{% load static %}
<div id="footer-wrapper">
    <div id="footer">
        <div id="footer-content">
            <div id="copyright">
                <p>Copyright &copy; <a href="#">Hogwarts</a> - All Rights Reserved | Design By <a target="_blank" href="#">Osmon</a>
                </p>
            </div>
            <div id="socials">
                <ul>
                    <li><a href="#"><img src="{% static 'style/images/icon-rss.png' %}" alt=""/></a></li>
                    <li><a href="#"><img src="{% static 'style/images/icon-twitter.png' %}" alt=""/></a></li>
                    <li><a href="#"><img src="{% static 'style/images/icon-dribble.png' %}" alt=""/></a></li>
                    <li><a href="#"><img src="{% static 'style/images/icon-tumblr.png' %}" alt=""/></a></li>
                    <li><a href="#"><img src="{% static 'style/images/icon-flickr.png' %}" alt=""/></a></li>
                    <li><a href="#"><img src="{% static 'style/images/icon-facebook.png' %}" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>