{% load static %}
<div id="page-top">
    <div id="header-wrapper">
        <div id="header">
            <div id="logo"><a href="{% url 'index' %}"><img src="{% static 'style/images/logo1.png' %}" alt="" width="300px"/></a></div>
            <div id="menu-wrapper">
                <div id="smoothmenu1" class="ddsmoothmenu">
                    <ul>
                        <li><a href="{% url 'create_grade' %}">Create Grade</a></li>
                        <li><a href="{% url 'add_student' %}">Add Student</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>